@font-face {
  font-family: "iconfont"; /* Project id 4391027 */
  src: url('iconfont.eot?t=1714111544669'); /* IE9 */
  src: url('iconfont.eot?t=1714111544669#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAcEAAsAAAAAELgAAAa3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACDeAqTHJAkATYCJAMoCxYABCAFhGcHgQ0bZQ4z0g/GiUb2PxPiMahdKT2YMuhXducZy+v+ZsP6kikaFQsZme4yxTf58Lhp7yfBkrqNGhUT6AlkhsyUTkSSO0/aiTgwE8FOXIEyt/byNU3BoQRCMZ4A2JorBKEjTFGefbLP9ie3TcrJ8sHQmqvzNKxSVUOlhvubnvzD4Y+6h7yQEJeSyHhotEgkxIXaMVnOXZgJeM3SmT7HTUAAWLx8WPub0YyQCThjEhIIyIkE5KXJhLFzONSLYESPDUELxd2R0TIoAPUmdR/A0vD65BuUSg2FpOVhetn1o3D589DvEmghIIB+F24CCLAyBaAAoAHy7yyULOiPmgU6RfmBTNtPMPgBsGgY7POozxM/v/FdQiDweWhueLaowaMg/YtncAQShYXGBkQpSRD4BQuseYdaw0AEDQMDBRoOBho0AgwMaCQYFKBRYFCCJoJBBXoD7qAG3yVUgQYAYF3FKMAigB6IEB+kup4oClIZDkNdFG00JDg4NC4uIToiIYcN0sSWRI0mSOeLCIuIJEHCfJloRn5jvHwBlHBeukho8VJw4U42heg6lTl69+ZNGaN2nXSOH7n3hAOMsO941gj0c9zg2cRrxzAyjEXIDs3ePCsr5VqdLCt5vaLPxx05z+biZIdljeiSoz0Wj9ltXiU5xdhnPtFrbkh64nH3mk/zks87evOxq3bFWNdIUeZVezZsiLWtFUsuN27cG21ZLYu7HetbkYAt1o3kIOw/Ld09SDpD6KM3v2WPB3OEJ/Iz8an0uFO23MEioAS3m72kh1efJtDmUwWGCR6P7LufM3glt3umcOCMfO6QePCsdHp/21ErPC84ZJfolPZN6sKkQdUgWIZUaRDW75b3biTgXhDGVeCTIPLCKnLDWWkfIDx5JvaM9Bcwn5Hr1q6eZUTdll5YM19k7UB5d7Rl/aZ9u0ZUcDq3JNrW7rUyRRChwnU+xshMy+44si7LuieRbFRFqiM6O9fK0Q2rhahRq6QY+xoxtmmdMZ8DazVSs39Id/u169HTOf2N4i8O4v3a+2gxp8G7gu+Vt71bfQ5Dvp86bmkD2m8NaXcdVhQ2wG+ijTeWmHZrjJ98YkQFU4kR6+keJwOJbwSZMI3HuQkY7cX20wYdCLovHgfBJZevWGNJTSizlpf2G6eBjy9LSLVUNy5P5uB357SztfesltQZyVMUcKLVcq+Sfq6k+rUVeoEN+nNp9lRXWXqX8F7mSrWnnSuPH9XCUx5wacjsKa/ZDHuT9vYzvDblx5i5epuUJNlCc2N+nPJavzapzRbKsQaAC4xVYtsU9+vJj/6tDbqU/Pab/x10Wa1t2TqvbrJYdquuJHxjtt1k582FhVOW53INOp0ht8MyojD/RWN+gUm7XK3tsuR05Bj0uo5yQekJz+UviF+hgQ8oT/fSpUbvcle5d+Xt9FR5dr5yqqT68Nnp6vAd42Ks9gK7NSYdetaGtqe2p+hT9X9ptEWIl7GWFTRRmmVsqCVFf395giVRqqoYPLii6o+qQRWVg6ukREtiZvnJ8NfDS7PMWX2y2rNKw2e7DIe123qvUcaoR5Slp09Txyj3VAZxBbVZY3uVGX+ICI/4saFsWO6Y2vrb81PElBQku+WTkaJrOjMv5/RGbHTMDihDABA4U1fgSHacdaQ5xcnrU9Zb5kwr5U92oC78956S8TwVMG3ie/JbjM1mntfm+nIE7+8p+S3CZnNPvgmaCfNLZG+TGC3++sChTNdvrFlktswvI+5lpPzMQf1NfqF5xxKe51OyuYh6EjLZaCxGJtEcdTvEhFB3yvXhJvC3P/WSX88R6HW0GJGuhOX+iq+Ghtb/pub+XOd9/PHraUoICAx4BBEhlFEEiDbpIGanzC4ZYJm2lhnNUXYsmYMhmFpwqh8QY8ZF4P1z85FsbfzMR+YOFFRIdKChhlbKKHMdFOBQ6qCEGg0OLPKgR5xYfQo0CKMBkIWX4UAQBocDhRCcQXSb8hZioPQ5KBCDL5ASyv8cWFgVfDAOWcTIPHvCSB1sDzAaFdZCDKZ+UZ8W9E3pf+TDiFRoyrqa+05C/hSbhNy3MTKw1xXeZqejZVGwXicysRxitJuq4rZNSqPrybMnjM5lB9uD39GocOex/P6+qE8Leqb0T/RBQDIdmrJmSN+JsBq9k4oh920kkcEgTzkrvC0A0DLPUrDtGROZbVQ5HJFhN5XqjLmkvD6//tT6v+Um5BOwpyZXKFVaam2NDmkxBbqwCx4e7TKF9ZRHTeG2tIvQPt4ETdIVKrfJgsxnTcW9SyjHwSw64/i0H1H6kP5Dph7w5AQ=') format('woff2'),
       url('iconfont.woff?t=1714111544669') format('woff'),
       url('iconfont.ttf?t=1714111544669') format('truetype'),
       url('iconfont.svg?t=1714111544669#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e60f";
}

.icon-play:before {
  content: "\e610";
}

.icon-play-previous:before {
  content: "\e611";
}

.icon-play-next:before {
  content: "\e612";
}

.icon-sound-on:before {
  content: "\e613";
}

.icon-sound-off:before {
  content: "\e614";
}

.icon-15:before {
  content: "\e61b";
}

.icon-quanzhankai:before {
  content: "\e6c5";
}

.icon-xiangsu_xiaoya:before {
  content: "\ed1a";
}

