@font-face {
  font-family: "iconfont"; /* Project id 4391027 */
  src: url('iconfont.eot?t=1710522043060'); /* IE9 */
  src: url('iconfont.eot?t=1710522043060#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAVQAAsAAAAADSwAAAUDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACDHAqNVItwATYCJAMQCwoABCAFhGcHSxt7C8iusCnDvWhhqlJAWQC4G/Ca+BIi+Bp73Xd3YXaMKnEZD1QmSSyBhKwwHV9halQVkcr4P/x75kuh9GqdyPQmFjOTzcnB+hrEYv7cvoyrNd2kqCJLal2B+VKW7Wz/9+6RVY0DUhqNSGtsFJurCbECzB3+fqnX/oEv0g70FCLfVSZVLNMGdGCLLMFh+hCHAzwwn61yZokKUaPmv5s+RKDevASkjYyzG2jcWJx4MIAimR90uXHDqgi6bbWyAYVaWbX0wCLeASrpOekO4G31+fFXSDBIqrLkNJuX9nX4XvlWQUb/AyB/VswTsHFCFTKm70wbV7bN57Q1YLoS1y8lt1sF1KbvSfzw9dW3iv//dd5TiWvpXx4hyUS1RNxI6GVRfmNcVopKEmgk/iPxTZGluBY3QXqMzk9n25VOJKfqG+t6XFzq6hqzhHaeQAix08EtXZTkJc7Dnk6cwG9NQWZOfuZ0wk0v7Xaw7elD4jH2CH9gJhA7dgKkpzYbq/HFvUtQflbu1J6yCLXbCacTczhwm20zOnmSOD2NTZ3CT0ykHrVBNjpKjGNj+MiaNRE0g4mXIXvK4tHWQWK4HYKLOAvAVVavf+FwQPHsPLyY9WIkSHoIN7x8DG0nlZ0kYpsbzaDoBp7TZK3SPJcYFCOtHSMDBxSNjXUpy5uHjUIjgJ6OWKuvsdQdGZRBLR7GISXUThcyBGbzMyGOb0RFyxpwiakJkyZ6wZ2w+n2G7zISQz2yzMdw725XxV88Ifu199GwpOJdsd+r9ODd8jt2ddL362yH1ff/xLDPq58d/XvPyyMlddDL4ZWv5pniFcxv9zTlS8E3fjqOZI1keHll+GQijxN+uXlj/vmGWoahAvHO9M5IH1opYLsqsvx2yesyZikPa47y0ooHbJG2Ad9+e6S9/8Cp3Gv8ra7p6TOtHqNp3GTscQXpnrlp2jRNujb9Z52hz8bbeGahTBGzhsXd06TfqVUgSjwyfP78+cjvkfPCI+ZH4kpE6R52jH+YH+JR5lHikeYRwt86njFj6CluokkYS0JdXTcwumlDEWx4JsbDWjSb917AF3yID13kY4mJu7FTg2k0QF2srwaa8cSTO7xPtIP2UfOEBEABUBnrP6oePTWqG8PWtmpac+WYbrCaehTEtn0rLGwKgaTzj4JC8cXQZ0EBt+MPs0SrsLD5RdBnYUENLKf90GZNzJT43znZ+f+N1UUD2374XqYr0l1jz1s65x3DhLSgEX/2QSGB83xz2AKoILeQsT+An/Gh1d9zIXftKwMu4AuBsZWzggJkEqCAuWKOcpfME3YtoYdSlgTM2cSWuAvuQwn1uoz6jtPu1TmkHWIxtS7t6Jiw1hgAPqs1CC/oSXyVBov4arXW8fWmpB/eoMM6baLUYdR+DR9ajeKTZh9BXkJfBwVoJ75KtzegGui/+Hr70XSyBqOxNDViSljHJdvRutT3ZCZLqn6vWKUORXOBO45iEz4MDggaxw7Z4+gUu2zcomY2bZJo2uC7mGFejh3Hx3UbfIu1ZMKyKQlWAgNNS7tMLF3rwq4II0lBrkNLlPRWGp9Hdk+G3+8KU1IOEgnhd8ZIrLOpfxQsQJAAfij2RFXvpHijjDJjExklZBBR1IUybCaAY4V9aN1y0MK0wDzBckQwsCIw7WaSiieuL3V/3hVQLzlRiRQ5SlRJC+Hw+s3kVQavapPZuGslT8XpQxXySwIAAA==') format('woff2'),
       url('iconfont.woff?t=1710522043060') format('woff'),
       url('iconfont.ttf?t=1710522043060') format('truetype'),
       url('iconfont.svg?t=1710522043060#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15:before {
  content: "\e61b";
}

.icon-quanzhankai:before {
  content: "\e6c5";
}

.icon-xiangsu_xiaoya:before {
  content: "\ed1a";
}

