@font-face {
  font-family: "iconfont"; /* Project id 4391027 */
  src: url('iconfont.eot?t=1704818330506'); /* IE9 */
  src: url('iconfont.eot?t=1704818330506#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAANgAAsAAAAACmwAAAMSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACDBgqINIdKATYCJAMMCwgABCAFhGcHRhs2CRHVk2tkf4I4blcQEGup0LKP++h32uVshczYPt4CjNA1AW5ACUgAAAAAgHj4fuzbue/dFRdEqyXoqomkcSOSSFIiQ9dE826S8LSZ+YfbQtqLhnIhYfGrdq2/ATfwY/oSALABN86zhJrqvXBGabkJEM7qdWXqqr3/uVnLx7ReIGnWi7I/WiBtq5t0dHr3fCwv4QTKf42B1Bg2b42T4nb//72qmccjcC2CUVjj/ZeBc08rUMC6l9VK2FMvYrGAxYJXhbyK4QUowxFvEWi33V5l3wVKofsSP43CuOSvBlV8XGqGSmi1LVKyv1VoRm9McVcT5XZ547mTfXz8yaIUTZX/mAMXk1Z4dpMNqZ+SFYFfV9CEis1I4ty05oRaSDZnqH0IpYY3S6Hsakd5Dm4+53+8QjTzUSfTV6XlTvEjJsE/XCbc/9toxgXiHvGA5bn2757LIfxHtgy4etztiOtWu5vT/+rGTdeF9mMR+Qgr0e2JYSH3ujZdln/iGezbnkfNSMm94t5XfPzeCitu9qDraHxX4NT8dPaXG9PLe8XKxW+wO6l29Q1MJCH4JaZ/xPgR8SthM4Y24L8wfkwVeBdlfT9ZkedF68xJuJ5YVfJrlfX8XGal86xh3JR3j0mEqUC/uoRFgjESfCKiL3lY+D2v7r4SfM+zUxqmeh2t370m+EMTZ8C26VipOcSLzhCosead+6fka9eORnxDvy/r8QDsIrQ2+BYULSagajVPTvpGaNJhJzRrtQfabbL/9g4Drqki27DsFkHodR+Kbk+g6vWcnPS30GTYD2jW6z+0OxZdD+uwHFhxVMgNlpD/oCloFKHMZPvesLI9V33OFyrdsB3SKGn7rzii2uIS7arMGAFC0QAX83XY9wSTohYLE9XGTIc4FkPvEhU0eEeF3GAJ+Q+agkaRtDfNz3fDyvZcgeSXSmnlyv6QRglAvqIRKnsmqdpVmRGXAGHF0gCXdSrsAw/BNHxci4WJ6hWu6RBLO4Gi6Ph4eHEP4Hkzz78o9EvUSKTl47+ODu14s/o2fKy0fWdu+nHPAwAA') format('woff2'),
       url('iconfont.woff?t=1704818330506') format('woff'),
       url('iconfont.ttf?t=1704818330506') format('truetype'),
       url('iconfont.svg?t=1704818330506#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanzhankai:before {
  content: "\e6c5";
}

.icon-xiangsu_xiaoya:before {
  content: "\ed1a";
}

