@import url('./reset.scss');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
:root {
  --bg-color: #e0f2f1;
  --text-color: #000;
  --text-AColor: #fff;
  --clear-color: #408d86;
  --dull-color: #80cbc4;

  --detail-color: #ccc;
}

:root[data-theme='light'] {
  --bg-color: #1e293b;
  --text-color: #f0f6fc;
  --clear-color: #2563eb;
  --dull-color: #598ef3;
}

body {
  min-width: 1600px;
}
