@import url('./reset.scss');

:root {
  --bg-color: #e0f2f1;
  --text-color: #000;
  --text-AColor: #fff;
  --clear-color: #408d86;
  --dull-color: #80cbc4;

  --detail-color: #ccc;
}

:root[data-theme='light'] {
  --bg-color: #1e293b;
  --text-color: #f0f6fc;
  --clear-color: #2563eb;
  --dull-color: #598ef3;
}
