@import url('./reset.scss');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
:root {
  --bg-color: #fff;
  --text-color: #4e5064;
  --text-AColor: #fff;
  --clear-color: #408d86;
  --dull-color: #80cbc4;

  --detail-color: #ccc;
}

:root[data-theme='light'] {
  --bg-color: #1e293b;
  --text-color: #f0f6fc;
  --clear-color: #2563eb;
  --dull-color: #598ef3;
}

body {
  // min-width: 1600px;
}

/* 修改全局滚动条样式 */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  // background: #f1f1f1;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c7d4e2;
}

::-webkit-scrollbar-thumb:hover {
  background: #abb9c8;
}
@font-face {
  font-family: 'WenQuanDengKuanWeiMiHei'; /* 将YourCustomFont替换为你的字体名称 */
  src: url('../assets/font/WenQuanDengKuanWeiMiHei-1.ttf') format('opentype'); /* 根据你的文件路径和格式来修改 */
}
div {
  font-family: 'WenQuanDengKuanWeiMiHei', sans-serif;
}
