@import url('./reset.scss');
// @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
:root {
  --bg-color: #fff;
  --text-color: #4e5064;
  --text-AColor: #fff;
  --clear-color: #408d86;
  --dull-color: #80cbc4;
  --green-color:#d6ebd4;
  --detail-color: #ccc;
}

:root[data-theme='light'] {
  --bg-color: #1e293b;
  --text-color: #f0f6fc;
  --text-AColor: #1e293b;
  --green-color:#1e293b;

  --clear-color: #2563eb;
  --dull-color: #598ef3;
}
html {
  background: var(--bg-color);
}
body {
  // min-width: 1600px;
  // overflow-x: hidden;
}
img {
  // pointer-events: none;
  // user-select: none;
}

a {
  text-decoration: none;
  color: #4e5064;
}

/* 修改全局滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  // background: #f1f1f1;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #c1c1c1;
}

// ::-webkit-scrollbar-thumb:hover {
//   background: #4e5064;
// }

@font-face {
  font-family: 'AlimamaShuHeiTi'; /* 将YourCustomFont替换为你的字体名称 */
  src: url('../assets/font/AlimamaShuHeiTi-Bold.ttf') format('opentype'); /* 根据你的文件路径和格式来修改 */
}
div {
  font-family: 'AlimamaShuHeiTi', sans-serif;
}

.defaultObserve {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}
.defaultObserveRight {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(100%);
}

.defaultObserveBottom {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(30%);
}

.activeObserve {
  opacity: 1;
  filter: blur(0px);

  transform: translateX(0px) !important;
}

.activeObserveY {
  opacity: 1;
  filter: blur(0px);

  transform: translateY(0px);
}
